.header {
  padding: 1rem;

  .container {
    margin: auto;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .primary {
      display: flex;
      align-items: center;
      gap: 2.5rem;

      img {
        width: 184.2px;
        height: 81.26px;
      }

      .ul {
        display: flex;
        gap: 2rem;
        list-style-type: none;
      }
    }

    .secondary {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .contact {
        all: unset;
        font-size: 14px;
        line-height: 21px;
        font-weight: 500;
        cursor: pointer;
      }

      button {
        all: unset;
        padding: 0.8rem 1.2rem;
        border-radius: 9999px;
        background: #e75437;
        font-size: 14px;
        line-height: 21px;
        font-weight: 500;
        color: #ffffff;
        cursor: pointer;
      }
    }
  }
}
