.header {
  padding: 1rem;

  .container {
    margin: auto;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .left {
      display: flex;
      align-items: center;
      gap: 3rem;

      img {
        width: 184.2px;
        height: 81.26px;
      }

      .ul {
        display: flex;
        gap: 2rem;
        list-style-type: none;

        .link {
          all: unset;
          font-size: 1rem;
          line-height: 1.5rem;
          font-weight: 400;
          cursor: pointer;
        }
      }
    }

    .right {
      display: flex;
      align-items: center;
      gap: 2rem;

      .contact {
        all: unset;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
        cursor: pointer;
      }

      button {
        all: unset;
        padding: 0.8rem 1.2rem;
        border-radius: 9999px;
        background: #e75437;
        font-size: 1rem;
        line-height: 1.5rem;
        font-weight: 400;
        color: #ffffff;
      }
    }
  }
}
