@import "../../styles/constants.scss";

.header {
  padding: 1rem;

  .container {
    margin: auto;
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;

    .primary {
      display: flex;
      align-items: center;
      gap: 2.5rem;

      .mainLink {
        img {
          width: 184.2px;
          height: 81.26px;
        }
      }

      .navBtn {
        display: none;
      }

      .navList {
        display: flex;
        gap: 2rem;
        list-style-type: none;
      }

      .navListMenu {
        display: none;
      }
    }

    .secondary {
      display: flex;
      align-items: center;
      gap: 1.5rem;

      .contact {
        all: unset;
        font-size: 14px;
        line-height: 21px;
        font-weight: 500;
        cursor: pointer;
      }

      button {
        all: unset;
        padding: 0.8rem 1.2rem;
        border-radius: 9999px;
        background: $primary;
        font-size: 14px;
        line-height: 21px;
        font-weight: 500;
        color: $primary-foreground;
        cursor: pointer;
        transition: background 0.3 ease;

        &:hover {
          background: $secondary;
        }
      }
    }
  }
}

@media (max-width: 1120px) {
  .header {
    .container {
      .primary {
        .mainLink {
          display: none;
        }

        .navBtn {
          all: unset;
          display: block;
          width: 1.5rem;
          height: 1.5rem;
          cursor: pointer;

          .navBtnIcon {
            width: 100%;
            height: 100%;
            color: $foreground;
          }
        }

        .navList {
          display: none;
        }

        .navListMenu {
          position: absolute;
          z-index: 9999;
          width: 100%;
          padding: 1rem;
          top: 4rem;
          left: 0;
          flex-direction: column;
          display: flex;
          align-items: flex-start;
          gap: 1.5rem;
          background: $background;
          list-style-type: none;
        }
      }
    }
  }
}
