.main {
  padding: 1rem;
  flex: 1;

  .container {
    margin: auto;
    max-width: 1280px;
    flex-direction: column;
    display: flex;

    .left {
      margin-top: 6rem;
      max-width: 440px;
      flex-direction: column;
      display: flex;
      gap: 2rem;

      h1 {
        font-size: 40px;
        line-height: 48.76px;
        font-weight: 500;
        color: #272727;

        span {
          color: #e75437;
        }
      }

      p {
        font-size: 18px;
        line-height: 27px;
        font-weight: 400;
        color: #5d5c5c;

        span {
          font-weight: 600;
        }
      }

      button {
        all: unset;
        margin-right: auto;
        padding: 0.8rem 1.2rem;
        display: flex;
        align-items: center;
        gap: 0.5rem;
        border-radius: 9999px;
        background: #e75336;
        font-size: 14px;
        line-height: 21px;
        font-weight: 500;
        color: #ffffff;

        img {
          width: 17.47px;
          height: 18.38px;
          color: #ffffff;
        }
      }
    }
  }
}
