@import "../styles/constants";

.container {
  margin-top: 6rem;
  max-width: 440px;
  flex-direction: column;
  display: flex;
  gap: 2rem;
  text-align: left;

  h1 {
    font-size: 40px;
    line-height: 48.76px;
    font-weight: 500;
    color: $foreground;

    span {
      color: $tertiary;
    }
  }

  p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
    color: $foreground-light;

    span {
      font-weight: 600;
    }
  }

  button {
    all: unset;
    margin-right: auto;
    padding: 0.8rem 1.2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-radius: 9999px;
    background: $primary;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    color: $primary-foreground;
    transition: background 0.3 ease;
    cursor: pointer;

    &:hover {
      background: $secondary;
    }
  }
}

@media (max-width: 768px) {
  .container {
    margin-top: 1rem;
    gap: 0.75rem;
  }
}
